* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-image: url(imagens/fundo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#topo {
  display: grid;
  place-items: center;
  height: 180px;
  padding-left: 20%;
  padding-right: 20%;
  margin-top: 5%;
}

#logo {
  width: 30%;
  min-width: 150px;
}

#fundo {
  display: grid;
  place-items: center;
  margin-top: 5%;
}

#botoes {
  display: grid;
  place-items: center;
}

button {
  padding: 5px;
  width: 180px;
  height: 60px;
  margin: 10px;
  color: white;
  background-color: #009879;
  border-radius: 7px;
}

button:hover {
  cursor: pointer;
  background-color: #007a61;
}
